<div class="container-fluid outer-landing">
  <h4 class="title"><i class="fa fa-user"></i> Customers</h4>
  <div class="tab-session">
    <tabset>
      <tab heading="Card View" id="tab1">
        <app-card [searchUser]="searchUser"></app-card>
      </tab>
      <tab heading="List View">
        <app-list [searchUser]="searchUser"></app-list>
      </tab>
      <tab heading="New Customers">
      <app-create></app-create>
      </tab>
    </tabset>
    <div class="input-group search-customer">
      <label for="filter">Filter :</label>
      <input type="text" class="form-control" [(ngModel)]="searchUser" placeholder="Search">
    </div>
  </div>
</div>